@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);






body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Roboto', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Oxygen', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oxygen', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Oxygen', sans-serif;
}
.mbr-author-desc {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Oxygen', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #efefef !important;
}
.bg-success {
  background-color: #41a85f !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #efefef;
  border-color: #efefef;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #41a85f;
  border-color: #41a85f;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #2c7140;
  border-color: #2c7140;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2c7140 !important;
  border-color: #2c7140 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #255e35;
  color: #255e35;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #41a85f;
  border-color: #41a85f;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #41a85f !important;
  border-color: #41a85f !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #efefef !important;
}
.text-success {
  color: #41a85f !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #41a85f;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #efefef;
}
.btn-social:hover {
  background: #efefef;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #efefef;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #efefef;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #efefef;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #efefef;
}
.lead a,
.lead a:hover {
  color: #efefef;
}
.lead blockquote {
  border-color: #efefef;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #93d5a6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #efefef;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#menu-1s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1s .navbar-caption {
  color: #ffffff;
}
#menu-1s .navbar-toggler {
  color: #ffffff;
}
#menu-1s .close-icon::before,
#menu-1s .close-icon::after {
  background-color: #ffffff;
}
#menu-1s .link,
#menu-1s .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-1s .link {
  font-size: 0.8rem;
}
#menu-1s .dropdown-item,
#menu-1s .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-1s .link:hover,
#menu-1s .dropdown-item:hover,
#menu-1s .link:focus,
#menu-1s .dropdown-item:focus {
  color: #efefef;
}
#menu-1s .link[aria-expanded="true"],
#menu-1s .dropdown-menu {
  background: #f74b21;
}
#menu-1s .nav-dropdown-sm .link:focus,
#menu-1s .nav-dropdown-sm .link:hover,
#menu-1s .nav-dropdown-sm .dropdown-item:focus,
#menu-1s .nav-dropdown-sm .dropdown-item:hover {
  background: #f86743!important;
}
#menu-1s .navbar,
#menu-1s .nav-dropdown-sm,
#menu-1s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1s .nav-dropdown-sm .dropdown-menu {
  background: #f97352;
}
#menu-1s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1s .bg-color.transparent.opened .link:hover,
#menu-1s .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-1s .link[aria-expanded="true"],
#menu-1s .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#header1-33 .mbr-section-title {
  color: #c1c1c1;
  font-family: 'Noto Sans', sans-serif;
  font-size: 46px;
}
#header1-33 .mbr-section-lead B {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
}
#header1-33 .mbr-section-title SPAN {
  font-size: 46px;
  color: #fac51c;
}



#content2-39 BLOCKQUOTE {
  color: #ffffff;
}
#content2-39 P {
  color: #28324e;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}
#header3-e .mbr-section-title,
#header3-e .mbr-section-subtitle {
  text-align: center;
}
#header3-e H3 {
  font-size: 30px;
  color: #2969b0;
}
#features3-f H4 {
  font-size: 15px;
  color: #000000;
}
#features3-f .btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
}
#menu-1s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1s .navbar-caption {
  color: #ffffff;
}
#menu-1s .navbar-toggler {
  color: #ffffff;
}
#menu-1s .close-icon::before,
#menu-1s .close-icon::after {
  background-color: #ffffff;
}
#menu-1s .link,
#menu-1s .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-1s .link {
  font-size: 0.8rem;
}
#menu-1s .dropdown-item,
#menu-1s .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-1s .link:hover,
#menu-1s .dropdown-item:hover,
#menu-1s .link:focus,
#menu-1s .dropdown-item:focus {
  color: #efefef;
}
#menu-1s .link[aria-expanded="true"],
#menu-1s .dropdown-menu {
  background: #f74b21;
}
#menu-1s .nav-dropdown-sm .link:focus,
#menu-1s .nav-dropdown-sm .link:hover,
#menu-1s .nav-dropdown-sm .dropdown-item:focus,
#menu-1s .nav-dropdown-sm .dropdown-item:hover {
  background: #f86743!important;
}
#menu-1s .navbar,
#menu-1s .nav-dropdown-sm,
#menu-1s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1s .nav-dropdown-sm .dropdown-menu {
  background: #f97352;
}
#menu-1s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1s .bg-color.transparent.opened .link:hover,
#menu-1s .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-1s .link[aria-expanded="true"],
#menu-1s .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}


#testimonials1-m .mbr-section-title SPAN {
  color: #fac51c;
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
}
#testimonials1-m .card-block P {
  color: #2969b0;
  font-size: 12px;
}
#features1-q .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #ffffff;
}
#features1-q .mbr-cards-col:nth-child(odd) .card-title {
  color: #2969b0;
}
#features1-q .mbr-cards-col:nth-child(odd) .card-text {
  color: #3d8eb9;
}
#features1-q .mbr-cards-col:nth-child(even) .card-text {
  color: #f97352;
}
#buttons1-v .btn {
  font-size: 15px;
}
#menu-34 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-34 .navbar-caption {
  color: #ffffff;
}
#menu-34 .navbar-toggler {
  color: #ffffff;
}
#menu-34 .close-icon::before,
#menu-34 .close-icon::after {
  background-color: #ffffff;
}
#menu-34 .link,
#menu-34 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-34 .link {
  font-size: 0.8rem;
}
#menu-34 .dropdown-item,
#menu-34 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-34 .link:hover,
#menu-34 .dropdown-item:hover,
#menu-34 .link:focus,
#menu-34 .dropdown-item:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-menu {
  background: #f74b21;
}
#menu-34 .nav-dropdown-sm .link:focus,
#menu-34 .nav-dropdown-sm .link:hover,
#menu-34 .nav-dropdown-sm .dropdown-item:focus,
#menu-34 .nav-dropdown-sm .dropdown-item:hover {
  background: #f86743!important;
}
#menu-34 .navbar,
#menu-34 .nav-dropdown-sm,
#menu-34 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-34 .nav-dropdown-sm .dropdown-menu {
  background: #f97352;
}
#menu-34 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-34 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-34 .bg-color.transparent.opened .link:hover,
#menu-34 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}

#menu-34 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-34 .navbar-caption {
  color: #ffffff;
}
#menu-34 .navbar-toggler {
  color: #ffffff;
}
#menu-34 .close-icon::before,
#menu-34 .close-icon::after {
  background-color: #ffffff;
}
#menu-34 .link,
#menu-34 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-34 .link {
  font-size: 0.8rem;
}
#menu-34 .dropdown-item,
#menu-34 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-34 .link:hover,
#menu-34 .dropdown-item:hover,
#menu-34 .link:focus,
#menu-34 .dropdown-item:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-menu {
  background: #f74b21;
}
#menu-34 .nav-dropdown-sm .link:focus,
#menu-34 .nav-dropdown-sm .link:hover,
#menu-34 .nav-dropdown-sm .dropdown-item:focus,
#menu-34 .nav-dropdown-sm .dropdown-item:hover {
  background: #f86743!important;
}
#menu-34 .navbar,
#menu-34 .nav-dropdown-sm,
#menu-34 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-34 .nav-dropdown-sm .dropdown-menu {
  background: #f97352;
}
#menu-34 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-34 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-34 .bg-color.transparent.opened .link:hover,
#menu-34 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}


#msg-box5-y P {
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  color: #b8312f;
}
#msg-box5-y H3 {
  color: #2969b0;
}
#features3-z H4 {
  color: #e25041;
}
#features2-12 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #ffffff;
}
#features2-12 .mbr-cards-col:nth-child(odd) .card-text {
  color: #000000;
}
#features2-12 .mbr-cards-col:nth-child(even) .card-text {
  color: #000000;
}
#msg-box2-2g .mbr-section-title {
  color: #d14841;
}
#msg-box2-2g .mbr-section-subtitle {
  color: #c1c1c1;
}
#menu-34 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-34 .navbar-caption {
  color: #ffffff;
}
#menu-34 .navbar-toggler {
  color: #ffffff;
}
#menu-34 .close-icon::before,
#menu-34 .close-icon::after {
  background-color: #ffffff;
}
#menu-34 .link,
#menu-34 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-34 .link {
  font-size: 0.8rem;
}
#menu-34 .dropdown-item,
#menu-34 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-34 .link:hover,
#menu-34 .dropdown-item:hover,
#menu-34 .link:focus,
#menu-34 .dropdown-item:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-menu {
  background: #f74b21;
}
#menu-34 .nav-dropdown-sm .link:focus,
#menu-34 .nav-dropdown-sm .link:hover,
#menu-34 .nav-dropdown-sm .dropdown-item:focus,
#menu-34 .nav-dropdown-sm .dropdown-item:hover {
  background: #f86743!important;
}
#menu-34 .navbar,
#menu-34 .nav-dropdown-sm,
#menu-34 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-34 .nav-dropdown-sm .dropdown-menu {
  background: #f97352;
}
#menu-34 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-34 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-34 .bg-color.transparent.opened .link:hover,
#menu-34 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}



#form1-1h .form-control-label {
  color: #f97352;
}
#form1-1h .mbr-section-title {
  color: #2969b0;
  font-family: 'Open Sans', sans-serif;
  font-size: 46px;
}
#contacts1-31 STRONG {
  color: #fac51c;
  font-size: 14px;
}
#contacts1-31 B {
  color: #fac51c;
  font-size: 14px;
}
#contacts1-31 SPAN {
  color: #fac51c;
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
}
#contacts1-31 P {
  color: #fac51c;
}
#menu-34 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-34 .navbar-caption {
  color: #ffffff;
}
#menu-34 .navbar-toggler {
  color: #ffffff;
}
#menu-34 .close-icon::before,
#menu-34 .close-icon::after {
  background-color: #ffffff;
}
#menu-34 .link,
#menu-34 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-34 .link {
  font-size: 0.8rem;
}
#menu-34 .dropdown-item,
#menu-34 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-34 .link:hover,
#menu-34 .dropdown-item:hover,
#menu-34 .link:focus,
#menu-34 .dropdown-item:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-menu {
  background: #f74b21;
}
#menu-34 .nav-dropdown-sm .link:focus,
#menu-34 .nav-dropdown-sm .link:hover,
#menu-34 .nav-dropdown-sm .dropdown-item:focus,
#menu-34 .nav-dropdown-sm .dropdown-item:hover {
  background: #f86743!important;
}
#menu-34 .navbar,
#menu-34 .nav-dropdown-sm,
#menu-34 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-34 .nav-dropdown-sm .dropdown-menu {
  background: #f97352;
}
#menu-34 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-34 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-34 .bg-color.transparent.opened .link:hover,
#menu-34 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}


#pricing-table2-3b .mbr-plan-header,
#pricing-table2-3b .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-3b ul,
#pricing-table2-3b .mbr-plan-title,
#pricing-table2-3b .mbr-price-value,
#pricing-table2-3b .mbr-price-figure,
#pricing-table2-3b .mbr-price-term {
  color: #28262b;
}
#pricing-table2-3b .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-3b .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#pricing-table2-3b .mbr-plan-subtitle {
  color: #232323;
}
#pricing-table2-3b .mbr-plan-label {
  color: #f97352;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
#pricing-table2-3b .mbr-price-value {
  color: #b8312f;
}
#pricing-table2-3b .mbr-price-figure {
  color: #b8312f;
}
#pricing-table2-3b .mbr-price-term {
  color: #b8312f;
}
#pricing-table2-3b UL {
  color: #ffffff;
}
#pricing-table2-3b .mbr-section__container .mbr-section-title {
  color: #2969b0;
}
#pricing-table2-3b .mbr-section__container .mbr-section-subtitle {
  color: #000000;
}
#header5-32 .mbr-section-title {
  color: #2969b0;
  font-size: 46px;
  text-align: center;
}
#header5-32 .mbr-section-lead {
  color: #28324e;
}
#header5-32 .btn {
  font-size: 20px;
}
#menu-34 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-34 .navbar-caption {
  color: #ffffff;
}
#menu-34 .navbar-toggler {
  color: #ffffff;
}
#menu-34 .close-icon::before,
#menu-34 .close-icon::after {
  background-color: #ffffff;
}
#menu-34 .link,
#menu-34 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-34 .link {
  font-size: 0.8rem;
}
#menu-34 .dropdown-item,
#menu-34 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-34 .link:hover,
#menu-34 .dropdown-item:hover,
#menu-34 .link:focus,
#menu-34 .dropdown-item:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-menu {
  background: #f74b21;
}
#menu-34 .nav-dropdown-sm .link:focus,
#menu-34 .nav-dropdown-sm .link:hover,
#menu-34 .nav-dropdown-sm .dropdown-item:focus,
#menu-34 .nav-dropdown-sm .dropdown-item:hover {
  background: #f86743!important;
}
#menu-34 .navbar,
#menu-34 .nav-dropdown-sm,
#menu-34 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-34 .nav-dropdown-sm .dropdown-menu {
  background: #f97352;
}
#menu-34 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-34 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-34 .bg-color.transparent.opened .link:hover,
#menu-34 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}


#gallery4-1r LI {
  color: #2969b0;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
#gallery4-1r .mbr-gallery-item > div > span {
  text-align: center;
  color: #fac51c;
}
#menu-34 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-34 .navbar-caption {
  color: #ffffff;
}
#menu-34 .navbar-toggler {
  color: #ffffff;
}
#menu-34 .close-icon::before,
#menu-34 .close-icon::after {
  background-color: #ffffff;
}
#menu-34 .link,
#menu-34 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-34 .link {
  font-size: 0.8rem;
}
#menu-34 .dropdown-item,
#menu-34 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-34 .link:hover,
#menu-34 .dropdown-item:hover,
#menu-34 .link:focus,
#menu-34 .dropdown-item:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-menu {
  background: #f74b21;
}
#menu-34 .nav-dropdown-sm .link:focus,
#menu-34 .nav-dropdown-sm .link:hover,
#menu-34 .nav-dropdown-sm .dropdown-item:focus,
#menu-34 .nav-dropdown-sm .dropdown-item:hover {
  background: #f86743!important;
}
#menu-34 .navbar,
#menu-34 .nav-dropdown-sm,
#menu-34 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-34 .nav-dropdown-sm .dropdown-menu {
  background: #f97352;
}
#menu-34 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-34 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-34 .bg-color.transparent.opened .link:hover,
#menu-34 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}



#msg-box8-22 .mbr-section-title,
#msg-box8-22 p {
  color: #fff;
}
#msg-box8-22 .lead {
  color: #ffffff;
}
#msg-box8-22 .mbr-section-title SPAN {
  font-family: 'Roboto', sans-serif;
  color: #eb6b56;
}
#msg-box8-22 .lead P {
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  color: #2969b0;
}
#features3-23 H4 {
  color: #2969b0;
}
#features3-23 H5 {
  color: #41a85f;
}
#features3-23 P {
  color: #f97352;
}
#features3-24 H4 {
  color: #2969b0;
}
#features3-24 H5 {
  color: #41a85f;
}
#features3-24 P {
  color: #f97352;
  font-size: 16px;
}
#content1-26 P {
  text-align: center;
  color: #ffffff;
}
#menu-34 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-34 .navbar-caption {
  color: #ffffff;
}
#menu-34 .navbar-toggler {
  color: #ffffff;
}
#menu-34 .close-icon::before,
#menu-34 .close-icon::after {
  background-color: #ffffff;
}
#menu-34 .link,
#menu-34 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-34 .link {
  font-size: 0.8rem;
}
#menu-34 .dropdown-item,
#menu-34 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-34 .link:hover,
#menu-34 .dropdown-item:hover,
#menu-34 .link:focus,
#menu-34 .dropdown-item:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-menu {
  background: #f74b21;
}
#menu-34 .nav-dropdown-sm .link:focus,
#menu-34 .nav-dropdown-sm .link:hover,
#menu-34 .nav-dropdown-sm .dropdown-item:focus,
#menu-34 .nav-dropdown-sm .dropdown-item:hover {
  background: #f86743!important;
}
#menu-34 .navbar,
#menu-34 .nav-dropdown-sm,
#menu-34 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-34 .nav-dropdown-sm .dropdown-menu {
  background: #f97352;
}
#menu-34 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-34 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-34 .bg-color.transparent.opened .link:hover,
#menu-34 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}

#header2-28 .mbr-section-title {
  color: #2969b0;
}
#header2-28 .mbr-section-text {
  color: #000000;
  font-size: 20px;
}
#header3-2c .mbr-section-title,
#header3-2c .mbr-section-subtitle {
  text-align: center;
}
#header3-2c H3 {
  font-size: 30px;
  color: #2969b0;
}
#header3-2c SMALL {
  color: #28324e;
}
#features1-2b .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #ffffff;
}
#features1-2b .mbr-cards-col:nth-child(even) .card-text {
  color: #2969b0;
}
#features1-2b .mbr-cards-col:nth-child(odd) .card-text {
  color: #2969b0;
}
#msg-box1-2e H3 {
  color: #000000;
  font-size: 30px;
}
#menu-34 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-34 .navbar-caption {
  color: #ffffff;
}
#menu-34 .navbar-toggler {
  color: #ffffff;
}
#menu-34 .close-icon::before,
#menu-34 .close-icon::after {
  background-color: #ffffff;
}
#menu-34 .link,
#menu-34 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-34 .link {
  font-size: 0.8rem;
}
#menu-34 .dropdown-item,
#menu-34 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-34 .link:hover,
#menu-34 .dropdown-item:hover,
#menu-34 .link:focus,
#menu-34 .dropdown-item:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-menu {
  background: #f74b21;
}
#menu-34 .nav-dropdown-sm .link:focus,
#menu-34 .nav-dropdown-sm .link:hover,
#menu-34 .nav-dropdown-sm .dropdown-item:focus,
#menu-34 .nav-dropdown-sm .dropdown-item:hover {
  background: #f86743!important;
}
#menu-34 .navbar,
#menu-34 .nav-dropdown-sm,
#menu-34 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-34 .nav-dropdown-sm .dropdown-menu {
  background: #f97352;
}
#menu-34 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-34 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-34 .bg-color.transparent.opened .link:hover,
#menu-34 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}

#header3-2h .mbr-section-title,
#header3-2h .mbr-section-subtitle {
  text-align: center;
}
#header3-2h H3 {
  color: #41a85f;
}
#features1-2j .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #ffffff;
}
#features1-2j .mbr-cards-col:nth-child(odd) .card-text {
  color: #232323;
}
#features1-2j .mbr-cards-col:nth-child(even) .card-text {
  color: #232323;
}
#features3-2l P {
  font-size: 14px;
  color: #cccccc;
}
#features3-2l H4 {
  color: #fac51c;
}
#header3-2m .mbr-section-title,
#header3-2m .mbr-section-subtitle {
  text-align: center;
}
#header3-2m H3 {
  color: #ffffff;
}
#menu-34 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-34 .navbar-caption {
  color: #ffffff;
}
#menu-34 .navbar-toggler {
  color: #ffffff;
}
#menu-34 .close-icon::before,
#menu-34 .close-icon::after {
  background-color: #ffffff;
}
#menu-34 .link,
#menu-34 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-34 .link {
  font-size: 0.8rem;
}
#menu-34 .dropdown-item,
#menu-34 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-34 .link:hover,
#menu-34 .dropdown-item:hover,
#menu-34 .link:focus,
#menu-34 .dropdown-item:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-menu {
  background: #f74b21;
}
#menu-34 .nav-dropdown-sm .link:focus,
#menu-34 .nav-dropdown-sm .link:hover,
#menu-34 .nav-dropdown-sm .dropdown-item:focus,
#menu-34 .nav-dropdown-sm .dropdown-item:hover {
  background: #f86743!important;
}
#menu-34 .navbar,
#menu-34 .nav-dropdown-sm,
#menu-34 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-34 .nav-dropdown-sm .dropdown-menu {
  background: #f97352;
}
#menu-34 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-34 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-34 .bg-color.transparent.opened .link:hover,
#menu-34 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}


#header3-2p .mbr-section-title,
#header3-2p .mbr-section-subtitle {
  text-align: center;
}
#header3-2p H3 {
  color: #2969b0;
}
#gallery4-2o LI {
  color: #f97352;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
}
#menu-34 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-34 .navbar-caption {
  color: #ffffff;
}
#menu-34 .navbar-toggler {
  color: #ffffff;
}
#menu-34 .close-icon::before,
#menu-34 .close-icon::after {
  background-color: #ffffff;
}
#menu-34 .link,
#menu-34 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-34 .link {
  font-size: 0.8rem;
}
#menu-34 .dropdown-item,
#menu-34 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-34 .link:hover,
#menu-34 .dropdown-item:hover,
#menu-34 .link:focus,
#menu-34 .dropdown-item:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-menu {
  background: #f74b21;
}
#menu-34 .nav-dropdown-sm .link:focus,
#menu-34 .nav-dropdown-sm .link:hover,
#menu-34 .nav-dropdown-sm .dropdown-item:focus,
#menu-34 .nav-dropdown-sm .dropdown-item:hover {
  background: #f86743!important;
}
#menu-34 .navbar,
#menu-34 .nav-dropdown-sm,
#menu-34 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-34 .nav-dropdown-sm .dropdown-menu {
  background: #f97352;
}
#menu-34 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-34 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-34 .bg-color.transparent.opened .link:hover,
#menu-34 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}

#header3-2r .mbr-section-title,
#header3-2r .mbr-section-subtitle {
  text-align: center;
}
#header3-2r H3 {
  color: #2969b0;
}
#content2-2s P {
  text-align: center;
  font-size: 20px;
  color: #000000;
}
#features7-2t .card-subtitle {
  color: #bcbcbc;
}
#features7-2t .iconbox {
  background-color: #efefef;
  border-color: #efefef;
}
#features7-2t H4 {
  color: #f97352;
}
#features7-2t P {
  color: #000000;
}
#menu-34 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-34 .navbar-caption {
  color: #ffffff;
}
#menu-34 .navbar-toggler {
  color: #ffffff;
}
#menu-34 .close-icon::before,
#menu-34 .close-icon::after {
  background-color: #ffffff;
}
#menu-34 .link,
#menu-34 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-34 .link {
  font-size: 0.8rem;
}
#menu-34 .dropdown-item,
#menu-34 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-34 .link:hover,
#menu-34 .dropdown-item:hover,
#menu-34 .link:focus,
#menu-34 .dropdown-item:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-menu {
  background: #f74b21;
}
#menu-34 .nav-dropdown-sm .link:focus,
#menu-34 .nav-dropdown-sm .link:hover,
#menu-34 .nav-dropdown-sm .dropdown-item:focus,
#menu-34 .nav-dropdown-sm .dropdown-item:hover {
  background: #f86743!important;
}
#menu-34 .navbar,
#menu-34 .nav-dropdown-sm,
#menu-34 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-34 .nav-dropdown-sm .dropdown-menu {
  background: #f97352;
}
#menu-34 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-34 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-34 .bg-color.transparent.opened .link:hover,
#menu-34 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}

#header3-2w .mbr-section-title,
#header3-2w .mbr-section-subtitle {
  text-align: center;
}
#header3-2w SMALL {
  font-size: 18px;
  color: #000000;
}
#header3-2w H3 {
  color: #2969b0;
}
#header3-2w B {
  color: #f97352;
}
#features1-2x .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #ffffff;
}
#features1-2x .mbr-cards-col:nth-child(odd) .card-title {
  color: #2969b0;
}
#features1-2x .mbr-cards-col:nth-child(odd) .card-text {
  color: #000000;
  text-align: left;
}
#features1-2x .mbr-cards-col:nth-child(even) .card-title {
  color: #2969b0;
}
#features1-2x .mbr-cards-col:nth-child(even) .card-text {
  color: #000000;
}
#menu-34 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-34 .navbar-caption {
  color: #ffffff;
}
#menu-34 .navbar-toggler {
  color: #ffffff;
}
#menu-34 .close-icon::before,
#menu-34 .close-icon::after {
  background-color: #ffffff;
}
#menu-34 .link,
#menu-34 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-34 .link {
  font-size: 0.8rem;
}
#menu-34 .dropdown-item,
#menu-34 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-34 .link:hover,
#menu-34 .dropdown-item:hover,
#menu-34 .link:focus,
#menu-34 .dropdown-item:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-menu {
  background: #f74b21;
}
#menu-34 .nav-dropdown-sm .link:focus,
#menu-34 .nav-dropdown-sm .link:hover,
#menu-34 .nav-dropdown-sm .dropdown-item:focus,
#menu-34 .nav-dropdown-sm .dropdown-item:hover {
  background: #f86743!important;
}
#menu-34 .navbar,
#menu-34 .nav-dropdown-sm,
#menu-34 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-34 .nav-dropdown-sm .dropdown-menu {
  background: #f97352;
}
#menu-34 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-34 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-34 .bg-color.transparent.opened .link:hover,
#menu-34 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}


#menu-34 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-34 .navbar-caption {
  color: #ffffff;
}
#menu-34 .navbar-toggler {
  color: #ffffff;
}
#menu-34 .close-icon::before,
#menu-34 .close-icon::after {
  background-color: #ffffff;
}
#menu-34 .link,
#menu-34 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-34 .link {
  font-size: 0.8rem;
}
#menu-34 .dropdown-item,
#menu-34 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-34 .link:hover,
#menu-34 .dropdown-item:hover,
#menu-34 .link:focus,
#menu-34 .dropdown-item:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-menu {
  background: #f74b21;
}
#menu-34 .nav-dropdown-sm .link:focus,
#menu-34 .nav-dropdown-sm .link:hover,
#menu-34 .nav-dropdown-sm .dropdown-item:focus,
#menu-34 .nav-dropdown-sm .dropdown-item:hover {
  background: #f86743!important;
}
#menu-34 .navbar,
#menu-34 .nav-dropdown-sm,
#menu-34 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-34 .nav-dropdown-sm .dropdown-menu {
  background: #f97352;
}
#menu-34 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-34 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-34 .bg-color.transparent.opened .link:hover,
#menu-34 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-34 .link[aria-expanded="true"],
#menu-34 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#content2-35 UL {
  text-align: center;
}
#content2-35 P {
  text-align: center;
  font-size: 18px;
  color: #2969b0;
  font-family: 'Open Sans', sans-serif;
}
#features3-36 H4 {
  color: #2969b0;
}
#features3-37 H4 {
  color: #2969b0;
}
